img{
    width: 30%;
    margin: calc(10%/6);

}  

nav{
    border-bottom: 2px solid #f1f1f1;
    width: 30%;
    margin-left: calc(10%/6);
    padding: 20px;
    font-family: 'Syncopate', sans-serif;
    font-size: 25px;
}