html, body {
    height: 100%;
    width: 100%;
  }
  .image {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
  
  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
  
body{
    background-color: #F0EBE3;
}